# IntelliJ IDEA modules and interim config files.
*.iml
.idea/libraries
.idea/*.xml

# Do not ignore code style settings.
!/.idea/codeStyleSettings.xml

# Gradle interim configs
.gradle/*

# Generated source code
*/generated/*

# Gradle build files
build/*
*/build/*

# Login details to Maven repository.
# Each workstation should have developer's login defined in this file.
credentials.properties

# Credentials to the test Datastore environment.
# They are stored in the encrypted file and are decrypted on the CI server only.
/datastore/src/test/resources/spine-dev-62685282c0b9.json
