# IntelliJ IDEA modules and interim config files.
*.iml
.idea/libraries
.idea/*.xml

# Do not ignore code style settings.
!/.idea/codeStyleSettings.xml

# Gradle interim configs
.gradle/*

# Generated source code
*/generated/*

# Gradle build files
build/*
*/build/*

# Credentials to Maven repositories and Google Cloud Storage used for Travis build reports
credentials.tar
credentials.properties
cloudrepo.properties
deploy_key_rsa
gcs-auth-key.json

# Credentials to the test Datastore environment.
# They are stored in the encrypted file and are decrypted on the CI server only.

# This file extracted form credentials.tar
spine-dev*.json
/datastore/src/test/resources/spine-dev-62685282c0b9.json

package-lock.json
